* {
	margin: 0;
	padding: 0;
}


body {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
}

button{
	font-size: 50px;
	z-index: 3;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	margin-left: 20px;
}

nav {
	position: fixed;
	overflow: hidden;
	background-image: url("img/dorodoro.png");
	padding-bottom: 190px;
	padding-top: 20px;
	padding-right: 42px;
	z-index: 2;

}

nav li {
	list-style-type: none;
	float: left;
	z-index: 2;
}

nav a {
	font-size: 30px;
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 14px 13px 0px 50px;
	padding-top: 20px;
	width: 180px;
	height: 50px;
	text-align: center;
	line-height: 20px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	z-index: 2;
}

nav a:hover {
	border-bottom: 3px solid #fff;
	z-index: 2;
}

#header {
	width: 100%;
	overflow: hidden;


	/*固定する*/
	position: -webkit-sticky;
	/*Safari用ベンダープレフィックス*/
	top: 0;
	/*ブラウザの上からの距離はゼロ*/
	z-index: 2;
}


h1 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;

}

h2 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;


}


.example {
	/*親div*/
	position: relative;
	/*相対配置*/
	height: 600px;
	z-index: 1;
	

}

.example h1 {
	position: absolute;
	top: 60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
	z-index: 1;
}

.example h2 {
	position: absolute;
	top: 100%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
	z-index: 1;
}

.example img {
	opacity: 0.7;
	z-index: 1;
}

#content1 {
	margin-top: 349px;
}

#content1 img {
	transform: rotate(10deg);
	margin-top: 100px;
	/* キーワードで指定する場合*/
}

#main {
	background-image: url("img/haikei.jpg");
}

#content2 {
	width: 1200px;
}

#content2 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #8105d8;
	font-size: 80px;
	margin-left: 180px;
}

#content3 p {
	/*	background-color:#fe8ff7;*/
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 70px;
	font-size: 20px;
}

#content3 img {
	float: right;
	width: 300px;
	margin-right: 300px;
	transform: rotate(-10deg);

}

#content30 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-top: 80px;
	padding-bottom: 140px;
	margin-bottom: 100px;
}

#content4 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 600px;
	margin-top: 50px;
	font-size: 20px;
}


#content4 img {
	float: left;
	transform: rotate(10deg);
	width: 300px;
	margin-left: 200px;
	margin-top: 40px;
}

#content31 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 60px;
	margin-bottom: 100px;
}

#content6 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 100px;

	font-size: 20px;
}

#content6 img {
	float: right;
	margin-right: 200px;
	width: 280px;
	margin-top: 5px;
}

#content32 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-top: 80px;
	padding-bottom: 140px;
	margin-bottom: 100px;
}


#content7 img {
	padding-left: 180px;
	transform: rotate(10deg);
}

#content8 h4 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	margin-top: 30px;
	font-size: 70px;
}

#content8 img {
	float: right;
	transform: rotate(10deg);
	width: 400px;
	margin-right: 180px;
}

#content8 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content33 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 60px;
	margin-bottom: 100px;
}

#content9 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 80px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content9 img {
	float: left;
	transform: rotate(-10deg);
	width: 400px;
	margin-left: 180px;
}

#content9 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 120px;
	margin-left: 650px;
	font-size: 20px;
}

#content34 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-bottom: 120px;
	margin-bottom: 100px;
}


#content10 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	margin-top: 20px;
	font-size: 70px;
}

#content10 img {
	float: right;
	transform: rotate(10deg);
	width: 360px;
	margin-right: 60px;
	position: relative;
	bottom: 110px;
	margin-top: 30px;
}

#content10 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content35 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 60px;
	margin-bottom: 100px;
}


#content11 img {
	transform: rotate(-10deg);

	width: 910px;
}

#content12 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 30px;
	margin-left: 600px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content12 img {
	float: left;
	transform: rotate(-10deg);
	width: 370px;
	margin-left: 180px;
}

#content12 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 100px;
	margin-top: 50px;
	margin-left: 600px;
	font-size: 20px;
}

#content36 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-bottom: 140px;
	margin-bottom: 80px;
}


#content13 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 70px;
}

#content13 img {
	float: right;
	width: 320px;
	margin-right: 40px;
	margin-top: 100px;
	transform: rotate(10deg);
}

#content13 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content37 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 80px;
	margin-bottom: 100px;
}



#content14 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 80px;
	margin-left: 600px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content14 img {
	float: left;
	transform: rotate(-10deg);
	width: 400px;
	margin-left: 140px;
	margin-top: 30px;
}

#content14 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 100px;
	margin-left: 600px;
	font-size: 20px;
}

#content38 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-bottom: 100px;
}


#content15 img {
	padding-left: 230px;
	padding-top: 80px;

}

#content15 {
	background-image: url(img/hair.png);
	background-size: 900px;
	margin-top: 300px;
}

#content16 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 40px;
}

#content16 img {
	float: right;
	transform: rotate(10deg);
	width: 350px;
	margin-right: 200px;
	margin-top: 100px;

}

#content16 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content39 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 80px;
	margin-bottom: 100px;
}

#content17 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 80px;
	margin-left: 600px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content17 img {
	float: left;
	transform: rotate(-10deg);
	width: 360px;
	margin-left: 100px;
	margin-top: 100px;
}

#content17 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 160px;
	margin-left: 600px;
	font-size: 20px;
}

#content40 {
	background-color: #fe8ff7;
	opacity: 0.7;
	margin-left: 150px;
	padding-bottom: 160px;
	margin-bottom: 100px;
}

#content18 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 60px;
}

#content18 img {
	float: right;
	transform: rotate(10deg);
	width: 350px;
	margin-right: 180px;
	margin-top: 100px;
}

#content18 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content41 {
	background-color: #d290ea;
	opacity: 0.7;
	margin-right: 150px;
	padding-top: 1px;
	padding-bottom: 80px;
	margin-bottom: 100px;
}

#content19 img {
	padding-top: 80px;
	transform: rotate(-10deg);
}

#content20 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 450px;
	font-size: 70px;
}

#content20 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 450px;
	font-size: 20px;
}

#content20 img {
	float: left;
	width: 370px;
	margin-left: 40px;

}

#content42 {
	background-color: #fe8ff7;
	opacity: 0.9;
	
	padding-bottom: 100px;
	padding-top: 80px;

}


#content21 {
	margin-left: 300px;
	margin-top: 130px;
}

#content21 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	font-size: 40px;
}

#content22 {
	margin-left: 300px;
	margin-top: 100px;
}

#content22 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	font-size: 40px;
}

#content23 img {
	padding-left: 242px;
	padding-top: 70px;
	transform: rotate(10deg);
}


#content24 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 30px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content24 img {
	float: left;
	transform: rotate(-10deg);
	width: 390px;
	margin-left: 180px;
	margin-top: 120px;
}

#content24 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 80px;
	margin-left: 650px;
	font-size: 20px;
}

#content25 img {
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 100px;
}

footer {
	/*footerの装飾*/
	width: 100%;
	background-color: #8105d8;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

.fadein {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 0.8s;
	display: block;
	margin: 60px auto;
	text-align: center;
}

.fadein.scrollin {
	opacity: 1;
	transform: translate(0, 0);
}

@media screen and (max-width : 480px) {
	* {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
	}
	
	button{
	font-size: 50px;
	z-index: 3;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	margin-left: 20px;
}


	nav {
		position: fixed;
		overflow: hidden;
		background-image: url("img/dorodoro.png");
		padding-bottom: 110px;
		padding-top: 10px;
		padding-right: 64px;
		z-index: 2;
	}

	nav li {
		list-style-type: none;
		float: left;
		z-index: 2;
	}

	nav a {
		font-size: 30px;
		display: block;
		text-decoration: none;
		color: #fff;
		margin: 14px 10px 50px 50px;
		padding-top: 20px;
		width: 167px;
		height: 80px;
		text-align: center;
		line-height: 30px;
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		z-index: 2;
	}

	#header {
		width: 100%;
		overflow: hidden;
		/*固定する*/
		position: -webkit-sticky;
		/*Safari用ベンダープレフィックス*/
		top: 0;
		/*ブラウザの上からの距離はゼロ*/
		z-index: 2;
	}


	h1 {
		text-align: center;
		color: #8105d8;
		font-size: 100px;
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;

	}

	h2 {
		text-align: center;
		color: #8105d8;
		font-size: 100px;
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;


	}


	.example {
		/*親div*/
		position: relative;
		/*相対配置*/
		height: 600px;
		z-index: 1;

	}

	.example h1 {
		position: absolute;
		top: 60%;
		margin-left: 400px;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		/*文字の装飾は省略*/
		z-index: 1;
	}

	.example h2 {
		position: absolute;
			margin-left: 400px;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		
		/*文字の装飾は省略*/
		z-index: 1;
	}

	.example img {
		opacity: 0.7;
		z-index: 1;
		width: 1200px;
	}

	#content1 {
		margin-top: 358px;
	}

	#content1 img {
		transform: rotate(10deg);
		margin-top: 100px;
		/* キーワードで指定する場合*/
	}

	#main {
		background-image: url("img/haikei.jpg");
width: 1200px;
		padding-top: 10px;
	
	}

	#content2 {
		width: 1200px;
	}

	#content2 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #8105d8;
		font-size: 80px;
		margin-left: 180px;
	}

	#content3 p {
		/*	background-color:#fe8ff7;*/
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 70px;
		font-size: 20px;
	}

	#content3 img {
		float: right;
		width: 300px;
		margin-right: 300px;
		transform: rotate(-10deg);

	}

	#content30 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-top: 80px;
		padding-bottom: 140px;
		margin-bottom: 100px;
	}

	#content4 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 600px;
		margin-top: 50px;
		font-size: 20px;
	}


	#content4 img {
		float: left;
		transform: rotate(10deg);
		width: 300px;
		margin-left: 200px;
		margin-top: 40px;
	}

	#content31 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 60px;
		margin-bottom: 100px;
	}

	#content6 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 100px;

		font-size: 20px;
	}

	#content6 img {
		float: right;
		margin-right: 200px;
		width: 280px;
		margin-top: 5px;
	}

	#content32 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-top: 80px;
		padding-bottom: 140px;
		margin-bottom: 100px;
	}


	#content7 img {
		padding-left: 180px;
		transform: rotate(10deg);
	}

	#content8 h4 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 180px;
		margin-top: 30px;
		font-size: 70px;
	}

	#content8 img {
		float: right;
		transform: rotate(10deg);
		width: 400px;
		margin-right: 180px;
	}

	#content8 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 180px;
		font-size: 20px;
	}

	#content33 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 60px;
		margin-bottom: 100px;
	}

	#content9 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 80px;
		margin-left: 650px;
		font-size: 70px;
		line-height: 80px;
		position: relative;
	}

	#content9 img {
		float: left;
		transform: rotate(-10deg);
		width: 400px;
		margin-left: 180px;
	}

	#content9 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-top: 120px;
		margin-left: 650px;
		font-size: 20px;
	}

	#content34 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-bottom: 120px;
		margin-bottom: 100px;
	}


	#content10 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 180px;
		margin-top: 20px;
		font-size: 70px;
	}

	#content10 img {
		float: right;
		transform: rotate(10deg);
		width: 400px;
		margin-right: 130px;
		position: relative;
		bottom: 110px;
		margin-top: 30px;
	}

	#content10 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-left: 180px;
		font-size: 20px;
	}

	#content35 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 60px;
		margin-bottom: 100px;
	}


	#content11 img {
		transform: rotate(-10deg);

		width: 910px;
	}

	#content12 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 30px;
		margin-left: 600px;
		font-size: 70px;
		line-height: 80px;
		position: relative;
	}

	#content12 img {
		float: left;
		transform: rotate(-10deg);
		width: 370px;
		margin-left: 180px;
	}

	#content12 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 100px;
		margin-top: 50px;
		margin-left: 600px;
		font-size: 20px;
	}

	#content36 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-bottom: 140px;
		margin-bottom: 80px;
	}


	#content13 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		margin-left: 180px;
		font-size: 70px;
		margin-top: 70px;
	}

	#content13 img {
		float: right;
		width: 320px;
		margin-right: 40px;
		margin-top: 100px;
		transform: rotate(10deg);
	}

	#content13 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 800;
		color: #fff;
		margin-left: 180px;
		font-size: 20px;
	}

	#content37 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 80px;
		margin-bottom: 100px;
	}



	#content14 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 80px;
		margin-left: 600px;
		font-size: 70px;
		line-height: 80px;
		position: relative;
	}

	#content14 img {
		float: left;
		transform: rotate(-10deg);
		width: 400px;
		margin-left: 140px;
		margin-top: 30px;
	}

	#content14 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-top: 100px;
		margin-left: 600px;
		font-size: 20px;
	}

	#content38 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-bottom: 100px;
	}


	#content15 img {
		padding-left: 230px;
		padding-top: 80px;

	}

	#content15 {
		background-image: url(img/hair.png);
		background-size: 900px;
		margin-top: 300px;
	}

	#content16 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		margin-left: 180px;
		font-size: 70px;
		margin-top: 40px;
	}

	#content16 img {
		float: right;
		transform: rotate(10deg);
		width: 350px;
		margin-right: 180px;
		margin-top: 100px;

	}

	#content16 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 800;
		color: #fff;
		margin-left: 180px;
		font-size: 20px;
	}

	#content39 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 80px;
		margin-bottom: 100px;
	}

	#content17 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 80px;
		margin-left: 600px;
		font-size: 70px;
		line-height: 80px;
		position: relative;
	}

	#content17 img {
		float: left;
		transform: rotate(-10deg);
		width: 360px;
		margin-left: 100px;
		margin-top: 100px;
	}

	#content17 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		margin-top: 160px;
		margin-left: 600px;
		font-size: 20px;
	}

	#content40 {
		background-color: #fe8ff7;
		opacity: 0.7;
		margin-left: 150px;
		padding-bottom: 160px;
		margin-bottom: 100px;
	}

	#content18 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		margin-left: 180px;
		font-size: 70px;
		margin-top: 60px;
	}

	#content18 img {
		float: right;
		transform: rotate(10deg);
		width: 350px;
		margin-right: 180px;
		margin-top: 100px;
	}

	#content18 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 800;
		color: #fff;
		margin-left: 180px;
		font-size: 20px;
	}

	#content41 {
		background-color: #d290ea;
		opacity: 0.7;
		margin-right: 150px;
		padding-top: 1px;
		padding-bottom: 80px;
		margin-bottom: 100px;
	}

	#content19 img {
		padding-top: 80px;
		transform: rotate(-10deg);
	}

	#content20 h6 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		margin-left: 450px;
		font-size: 70px;
	}

	#content20 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 800;
		color: #fff;
		margin-left: 450px;
		font-size: 20px;
	}

	#content20 img {
		float: left;
		width: 370px;
		margin-left: 40px;

	}

	#content42 {
		background-color: #fe8ff7;
		opacity: 0.9;
		margin-left: 150px;
		margin-right: 150px;
		padding-bottom: 100px;
		padding-top: 80px;

	}


	#content21 {
		margin-left: 300px;
		margin-top: 130px;
	}

	#content21 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		font-size: 40px;
	}

	#content22 {
		margin-left: 300px;
		margin-top: 100px;
	}

	#content22 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #fff;
		font-size: 40px;
	}



	#content24 h5 {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		top: 30px;
		margin-left: 650px;
		font-size: 70px;
		line-height: 80px;
		position: relative;
	}

	#content24 img {
		float: left;
		transform: rotate(-10deg);
		width: 390px;
		margin-left: 180px;
	
	}

	#content24 p {
		font-family: vdl-megag, sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		
		margin-left: 650px;
		font-size: 20px;
	}

	#content25 img {
		padding-left: 70px;
		padding-top: 10px;
		padding-bottom: 100px;
	}

	footer {
		/*footerの装飾*/
		width: 100%;
		background-color: #8105d8;
		color: #fff;
		text-align: center;
		padding: 30px 0;
	}

	.fadein {
		opacity: 0;
		transform: translate(0, 50px);
		transition: all 0.8s;
		display: block;
		margin: 60px auto;
		text-align: center;
	}

	.fadein.scrollin {
		opacity: 1;
		transform: translate(0, 0);
	}
}
