* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;

}


h1 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
}

h2 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;

}


.example {
	/*親div*/
	position: relative;
	/*相対配置*/
	height: 600px;

}

.example h1 {
	position: absolute;
	top: 20%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
}

.example h2 {
	position: absolute;
	top: 39%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
}


#header {
	width: 100%;
	height: 1000px;
	overflow: hidden;
	background-image: url(noma.jpg);
	opacity: 0.8;
}



nav {
	overflow: hidden;
	background-image: url(dorodoro.png);
	padding-bottom: 190px;
	padding-top: 10px;
	padding-right: 10px;
	opacity: 0.9;
}

nav li {
	list-style-type: none;
	float: left;
	margin-top: 2px;
}

nav a {
	font-size: 30px;
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 14px 16px 0px 50px;
	padding-top: 20px;
	width: 180px;
	height: 50px;
	text-align: center;
	line-height: 20px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;


}

nav a:hover {
	border-bottom: 3px solid #fff;
}

#content1 {
	padding-top: 100px;

}

#content1 img {
	transform: rotate(-10deg);
}

#main {
	background-image: url(haikei.jpg);
}

#content2 {
	padding-left: 360px;
	padding-top: 100px;
	width: 1400px;
}

h3 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #8105d8;
	font-size: 80px;
	margin-left: 180px;
}

#content3 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content3 img {
	float: right;
	transform: rotate(10deg);
	width: 300px;
	margin-right: 300px;
}

#content4 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 600px;
	margin-top: 150px;
	font-size: 20px;
}

#content4{
	background-image:url(haikei.jpg);	
}

#content4 img {
	float: left;
	transform: rotate(-10deg);
	width: 300px;
	margin-left: 200px;
}


#content5 img {
	float: right;
	transform: rotate(10deg);
	width: 300px;
	margin-right: 200px;
	margin-top: 80px;
}

#content5{
	background-image:url(haikei.jpg);	
}

#content6 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 550px;
	margin-top: 600px;
	font-size: 20px;
}

#content6 img {
	float: left;
	transform: rotate(-10deg);
	width: 280px;
	margin-left: 200px;
	margin-top: 5px;
}

#content6{
	background-image:url(haikei.jpg);	
}

#content7 img{
	padding-left: 400px;
	transform: rotate(10deg);
}