* {
	margin: 0;
	padding: 0;
}


body {

	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
}


h1 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;

}

h2 {
	text-align: center;
	color: #8105d8;
	font-size: 100px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;


}


.example {
	/*親div*/
	position: relative;
	/*相対配置*/
	height: 600px;

}

.example h1 {
	position: absolute;
	top: 20%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
}

.example h2 {
	position: absolute;
	top: 39%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	/*文字の装飾は省略*/
}

.example img {
	opacity: 0.7;
}


#header {
	width: 100%;
	overflow: hidden;
	opacity: 0.8;
	position: sticky;
	/*固定する*/
	position: -webkit-sticky;
	/*Safari用ベンダープレフィックス*/
	top: 0;
	/*ブラウザの上からの距離はゼロ*/

}

nav {
	overflow: hidden;
	background-image: url("img/dorodoro.png");
	padding-bottom: 190px;
	padding-top: 10px;
	padding-right: 10px;
	opacity: 0.9;
}

nav li {
	list-style-type: none;
	float: left;
	margin-top: 2px;
}

nav a {
	font-size: 30px;
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 14px 16px 0px 50px;
	padding-top: 20px;
	width: 180px;
	height: 50px;
	text-align: center;
	line-height: 20px;
	font-family: vdl-megag, sans-serif;
	font-style: normal;


}

nav a:hover {
	border-bottom: 3px solid #fff;
}

#content1 img {
	transform: rotate(10deg);
	margin-top: 100px;
	/* キーワードで指定する場合*/
}

#main {
	background-image: url("img/haikei.jpg");
}

#content2 {
	/*	padding-left: 360px;*/
	padding-top: 100px;
	width: 1200px;
}

#content2 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #8105d8;
	font-size: 80px;
	margin-left: 180px;
}

#content3 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content3 img {
	float: right;
	width: 300px;
	margin-right: 300px;
	transform: rotate(-10deg);
}

#content4 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 600px;
	margin-top: 150px;
	font-size: 20px;
}

#content4 {
	background-image: url("img/haikei.jpg");
}

#content4 img {
	float: left;
	transform: rotate(10deg);
	width: 300px;
	margin-left: 200px;
}


#content5 img {
	float: right;
	transform: rotate(-10deg);
	width: 300px;
	margin-right: 200px;
	margin-top: 80px;
}

#content5 {
	background-image: url("img/haikei.jpg");
}

#content6 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 600px;
	margin-top: 600px;
	font-size: 20px;
}

#content6 img {
	float: left;
	transform: rotate(-10deg);
	width: 280px;
	margin-left: 200px;
	margin-top: 5px;
}

#content6 {
	background-image: url("img/haikei.jpg");
}

#content7 img {
	padding-left: 180px;
	transform: rotate(10deg);
}

#content8 h4 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	margin-top: 30px;
	font-size: 70px;
}

#content8 img {
	float: right;
	transform: rotate(10deg);
	width: 400px;
	margin-right: 180px;
}

#content8 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content9 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 200px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content9 img {
	float: left;
	transform: rotate(-10deg);
	width: 350px;
	margin-left: 180px;
	margin-top: 60px;
}

#content9 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 100px;
	margin-top: 250px;
	margin-left: 650px;
	font-size: 20px;
}

#content10 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	margin-top: 20px;
	font-size: 70px;
}

#content10 img {
	float: right;
	transform: rotate(10deg);
	margin-top: 100px;
	width: 400px;
	margin-right: 180px;
	position: relative;
	bottom: 110px
}

#content10 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content11 img {
	transform: rotate(-10deg);

	width: 910px;
}

#content12 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 30px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content12 img {
	float: left;
	transform: rotate(-10deg);
	width: 400px;
	margin-left: 180px;

}

#content12 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 100px;
	margin-top: 50px;
	margin-left: 650px;
	font-size: 20px;
}

#content13 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 200px;
}

#content13 img {
	float: right;
	transform: rotate(10deg);
	width: 350px;
	margin-right: 180px;

}

#content13 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content14 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 80px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content14 img {
	float: left;
	transform: rotate(-10deg);
	width: 400px;
	margin-left: 180px;
	margin-top: 100px;
}

#content14 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 100px;
	margin-left: 650px;
	font-size: 20px;
}

#content15 img {
	padding-left: 230px;
	padding-top: 80px;
	transform: rotate(10deg);
}

#content15 {
	background-image: url(img/hair.png);
	background-size: 900px;
	margin-top: 300px;
}

#content16 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 200px;
}

#content16 img {
	float: right;
	transform: rotate(10deg);
	width: 350px;
	margin-right: 180px;

}

#content16 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content17 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 80px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content17 img {
	float: left;
	transform: rotate(-10deg);
	width: 360px;
	margin-left: 180px;
	margin-top: 160px;
}

#content17 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 160px;
	margin-left: 650px;
	font-size: 20px;
}

#content18 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 180px;
	font-size: 70px;
	margin-top: 300px;
}

#content18 img {
	float: right;
	transform: rotate(10deg);
	width: 350px;
	margin-right: 180px;
	margin-top: 100px;
}

#content18 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 180px;
	font-size: 20px;
}

#content19 img {
	padding-top: 80px;
	transform: rotate(-10deg);
}

#content20 h6 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	margin-left: 600px;
	font-size: 70px;
}

#content20 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #fff;
	margin-left: 600px;
	font-size: 20px;
}

#content20 img {
	float: left;
	width: 370px;
	margin-left: 200px;
}

#content21 {
	margin-left: 300px;
	margin-top: 260px;
}

#content21 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	font-size: 40px;
}

#content22 {
	margin-left: 300px;
	margin-top: 100px;
}

#content22 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #fff;
	font-size: 40px;
}

#content23 img {
	padding-left: 242px;
	padding-top: 70px;
	transform: rotate(10deg);
}


#content24 h5 {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	top: 30px;
	margin-left: 650px;
	font-size: 70px;
	line-height: 80px;
	position: relative;
}

#content24 img {
	float: left;
	transform: rotate(-10deg);
	width: 390px;
	margin-left: 180px;
	margin-top: 120px;
}

#content24 p {
	font-family: vdl-megag, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #fff;
	margin-top: 80px;
	margin-left: 650px;
	font-size: 20px;
}

#content25 img {
	padding-left: 70px;
	padding-top: 10px;
}

footer {
	/*footerの装飾*/
	width: 100%;
	background-color: #8105d8;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}
